<div id="bonus">
  <div class="progress" id="progress"></div>
  <div id="firstSlide">
    <span class="typingText"></span>
    <div class="bonus-wrapper">
      <div class="bonus-card bonus-card1"></div>
    </div>
    <span class="typingText2"></span>
  </div>
  <!-- <div id="secondSlide">
    <div class="logo"></div>
    <div class="line"></div>
  </div> -->
  <!-- <div id="thirdSlide">
    <div class="our-team">Stay 5 seconds with our geeks, pick up your SURPRISE at the end.</div>
    <div class="loading-block">
      <%= image_tag 'bonus/preloader.gif' %>
    </div>  
  </div> -->
  <div id="workerSlide1">
    <div class="wrapper">
      <div class="text1">
        <h2>DESIGNER</h2>
        <h3>Olya</h3>
        <p>
          Where is my coffee…?
        </p> 
      </div> 
      <div class="text2">
        <h2>DESIGNER</h2>
        <h3>Yulia</h3>
        <p>
          My creativity works the best between 11:00 pm - 2:00 am! 
        </p> 
      </div> 
    </div>
  </div>
  <div id="workerSlide2">
    <div class="wrapper">
      <div class="text1">
        <h2><small>SENIOR</small> CONSULTANT</h2>
        <h3>Alma</h3>
        <p>
          If tomorrow, women woke up and decided they really liked their bodies, just think how many industries would go out of business…
        </p> 
      </div> 
      <div class="text2">
        <h2><small>SENIOR</small> CONSULTANT</h2>
        <h3>Daniel</h3>
        <p>
          I don’t have time … Last week has been a ‘nightmare’ and this one too…
        </p> 
      </div> 
    </div>
  </div>
  <div id="workerSlide3">
    <div class="wrapper">
      <div class="text1">
        <h2>WEB DEVELOPER</h2>
        <h3>Viktor</h3>
        <p>
          Don’t turn on the light, I will get it done. Just leave me alone
        </p> 
      </div> 
      <div class="text2">
        <h2>WEB DEVELOPER</h2>
        <h3>Ivan</h3>
        <p>
          Let’s try… Let’s see… 
        </p> 
      </div> 
    </div>
  </div>
  <div id="bonusSlide">
<!--     <div class="logo">
      
    </div> -->
    <h2>Gift Card Code: OMG- I - CLICKED- DON’T- EVER- CLICK</h2>
    <div class="message">
      <ol>
        <li>Please copy-paste this gift card code when contacting us</li>
        <li>You may use this code on any BC service purchase</li>
      </ol>
      

      <div class="bonus-wrapper">
        <div class="bonus-card bonus-card2"></div>
      </div>

      <div class="back pointer", onclick = "location.assign('/')">
        GO TO HOME
      </div>

      <!-- <p>Thank you for visiting us, see us more often… :)</p> -->
      <p class="typingText3"></p>

    </div>
    <!-- <div class="yellow-line"></div> -->
  </div>
</div>
