<div class="content-block">
	<div class="row">
		<div class="item three show-full-image graphic-image-1"></div>
		<div class="item three show-full-image graphic-image-2"></div>
		<div class="item three show-full-image graphic-image-3"></div>
	</div>
	<div class="row">
		<div class="item one-two show-full-image graphic-image-4"></div>
		<div class="item two-one show-full-image graphic-image-5"></div>
	</div>
	<div class="row">
		<div class="item two-one show-full-image graphic-image-6"></div>
		<div class="item one-two show-full-image graphic-image-7"></div>
	</div>
	<!-- <div class="row">
		<div class="item two show-full-image graphic-image-8"></div>
		<div class="item two show-full-image graphic-image-9"></div>
	</div> -->
	<!-- <div class="row">
		<%#=image_tag('design2/image-3.jpg', class: 'item two') %>

		<%#=image_tag('design2/image-4.jpg', class: 'item two') %>

	</div> -->
</div>