<footer>
    <div class="container">
		<div class="row">
			<div class="col-md-4 footer-leftcol">
				<!--<p><span class="bold-16p">New Jersey</span><br>-->
				<p>© 2015 Bull Century. All Rights Reserved.</p>
			</div>

			<div class="footer-midcol">
				<ul>
<!-- 					<li><a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100009983860738" class="social-icon facebook-icon">Facebook</a></li>
					<li><a href="https://www.pinterest.com/BC_studio/" class="social-icon pinterest-icon">Pinterest</a></li>
			    <li><a href="https://vk.com/public99906563" class="social-icon vimeo-icon">Vimeo</a></li> -->


			    <li><a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100009983860738" class="icon-fb">Facebook</a></li>
					<li><a href="https://www.pinterest.com/BC_studio/" class="icon-pinterest">Pinterest</a></li>
			    <li><a href="https://vk.com/public99906563" class="icon-vk">vk</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</footer>